.icon *{
    stroke: brown;
    fill: brown;
    
}
.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    

}
.photos{
    width: 40vw;
    margin: 0 auto;
}
.photos>img{
    width: 100%;
    margin: 10px;
    
}
.photo-link{
   align-self: center;
   text-align: center;
    padding: 10px;
    text-decoration-line: none;
    
    
}
.container{
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
    
    
    
    
    
}