.icon *{
    stroke: brown;
    fill: brown;
    
}
.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.photos{
    width: 40vw;
    margin: 0 auto;
}
.photos>img{
    width: 100%;
}
.photo-link{
    margin: 0px 0;
    padding: 10px;
}